html,
body,
main {
	height: 100%;
}

main {
	display: grid;
	grid-template-columns: 25% 75%;
}

main aside {
	height: 100%;
	border-right: thin solid gray;
	padding: 48px 24px 0;
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
}

main aside img {
	width: 50%;
}

main aside nav {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 24px;
}

main aside nav > * {
	border: none;
	background: none;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	font-size: 1.125rem;
	font-weight: 500;
	color: rgb(56, 56, 56);
}

main section {
	margin: 48px 0;
}

main .content {
	width: 100%;
	padding: 24px 4%;
}

main .content .heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
}

main .content .stats {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
}

main .content .stats .card {
	border: thin solid;
	border-radius: 5px;
	padding: 12px;
	color: gray;
}

main .content .stats .card .card-heading {
	font-size: 0.7em;
	display: block;
	margin-bottom: 16px;
}

main .content .stats .card p {
	padding-left: 8px;
	font-weight: 600;
}

main .content .revenue-chart {
	max-width: 940px;
}

.switch {
	width: 60px;
	height: 27px;
	border-radius: 999rem;
	border: thin solid gray;
	position: relative;
}

.switch input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.switch span {
	width: 22.5px;
	height: 22.5px;
	position: absolute;
	top: 51.5%;
	transform: translateY(-50%);
	left: 1px;
	border-radius: 50%;
	background-color: gray;
	transition: all 0.25s ease-in-out;
	pointer-events: none;
}

.switch input:checked + span {
	left: 34px;
	background-color: gray;
}

table {
	width: 100%;
	border: thin solid;
	border-collapse: collapse;
}

table th {
	border: thin solid;
	padding: 16px 0;
	background-color: rgb(223, 223, 223);
}

table tr {
	display: grid;
	grid-template-columns: 4fr 1fr 1.5fr 1.5fr;
}

table tr td {
	padding: 8px 4px;
	border: thin solid gray;
	font-size: 0.95em;
}

tr td:not(:first-child) {
	text-align: center;
}

/* Order page */
main .content .heading form {
	height: 25px;
	display: flex;
}

main .content .heading form > * {
	height: 100%;
	padding: 0 8px;
}

table#ordersTable tr {
	grid-template-columns: 3.5fr 1.5fr 1.5fr 1.25fr;
}

.pagination {
	margin-top: 16px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.pagination button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	padding-bottom: 3px;
	width: 20px;
	height: 20px;
	border: thin solid;
	border-radius: 50%;
}

.pagination span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

#loader {
	display: flex;
	justify-content: center;
}
