html,
body,
main {
	height: 100%;
}

main aside {
	width: 25%;
	height: 100%;
	border-right: thin solid gray;
	padding: 48px 24px 0;
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
}

main aside img {
	width: 50%;
}

main aside nav {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 24px;
}

main aside nav > * {
	border: none;
	background: none;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	font-size: 1.125rem;
	font-weight: 500;
	color: rgb(56, 56, 56);
}
